{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


 <section class="container  mt-5">
 <div class="row gap-5"> 
        {% include "component/productCard.html.twig" %}
        </div>
        
    </section>
{% endblock %}
